.button {
  background-color: $yellow;
  color: $less-black;
  text-transform: uppercase;
  outline: none;
  border: 0.5px solid $less-black;
}

.button:hover {
  color: $almost-black;
  border: 0.5px solid $less-black;
}

@media (min-width: $desktop-breakpoint) {
  .button {
    letter-spacing: 0.1rem;
  }
}
