.contact {
  background-color: $yellow;
  padding: $m-size;
  display: flex;
  flex-direction: column;
}

.contact__title {
  color: $almost-black;
  margin-bottom: $m-size;
}
.contact__container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.contact__blurb {
  p {
    color: $almost-black;
  }
  margin-top: $l-size;
}

.contact__method {
  color: $almost-black;
  margin: 0 $s-size $s-size 0;
}

.contact--link {
  color: $almost-black;
  cursor: pointer;
}

@media (min-width: $desktop-breakpoint) {
  .contact__container {
    display: flex;
    flex-direction: row;
  }
  .contact__blurb {
    margin-right: $l-size;
    width: 35vw;
  }
}
