.container {
  margin: 0 auto;
  max-width: 90vw;
  padding: 0 $m-size;
}

.container__header {
  margin: 0 auto;
  max-width: 80rem;
  padding: $m-size;
}

@media (min-width: $desktop-breakpoint) {
  .container {
    max-width: 70vw;
  }
}
