.contact {
  background-color: $yellow;
  padding: $m-size;
}
.contact__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 986px;
}

.contact__title {
  color: $almost-black;
  margin-bottom: $m-size;
}

.contact__method {
  color: $almost-black;
  font-size: $m-size;
  font-weight: 350;
  margin: 0 $s-size $s-size 0;
}

.contact--link {
  color: $almost-black;
  cursor: pointer;
}
.contact__methodContainer {
  margin-top: $xl-size;
}
.contact__blurb {
  color: $almost-black;
  margin-top: $l-size;
}

@media (min-width: $desktop-breakpoint) {
  .contact__container {
    display: flex;
    flex-direction: row;
    max-width: 986px;
  }
}
