.instagram {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $m-size;
}

.instagram__post {
  margin: $s-size;
}

@media (min-width: 1000px) {
  .instagram {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
