.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay .ReactModal__Overlay--after-open {
  background-color: #000000;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModalPortal__Content {
  background-color: $almost-black;
}
.ReactModal__Body--open {
  overflow: hidden;
}

.modal {
  background-color: $almost-black;
  color: $font-color;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
  border: 0.25px solid $less-black;
  border-radius: 3px;
}

.modal__title {
  margin: 0 0 $m-size 0;
}

.modal__body {
  margin: 0 0 $l-size 0;
  word-break: break-all;
}

.modal__confirmationText {
  text-align: initial;
}
