.nav {
  position: relative;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;
}

.nav__button {
  color: $font-color;
  background-color: transparent;
  padding: $s-size;
  outline: none;
  border: none;
  font-size: 3rem;
  display: flex;
  justify-items: flex-end;
  width: 4.6rem;
}

.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}

.fade-enter {
  opacity: 0;
  transform: scale(1.2);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit-done {
  opacity: 0;
}

.nav__buttonContainer {
  background-color: rgba(51, 51, 51, 0.94);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.nav__item {
  color: $font-color;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: $m-size;
  padding-right: $m-size;
  margin: 0;
}

.nav__item:hover {
  color: $less-black;
  font-weight: 400;
}

// @media (min-width: 820px) {
//   .nav__buttonContainer {
//     background-color: rgba(51, 51, 51, 0.94);
//   }
// }
