.nav {
  position: relative;
}

.nav__menu {
  position: absolute;
  top: 0;
  left: 0;
}

.nav__button {
  display: flex;
  justify-content: flex-end;
  color: $font-color;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 3rem;
  width: 100vw;
  z-index: 1;
  position: relative;
  padding: $s-size;
}
.nav__bars {
  color: $yellow;
  background-color: rgba(51, 51, 51, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  padding: $s-size;
  margin: 0;
}

.nav__buttonContainer {
  background-color: rgba(51, 51, 51, 0.9);
  position: absolute;
  top: 0;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: $xl-size;
  padding-bottom: $xl-size;
}

.nav__item {
  color: $font-color;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: $l-size;
  padding-right: $m-size;
  margin: 0;
}

.nav__item:hover {
  color: $less-black;
  font-weight: 400;
}
//TRANSITION STYLES
.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 600ms ease-in-out;
}

.fade-enter {
  opacity: 0;
  transform: scale(1.2);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit-done {
  opacity: 0;
}
@media (min-width: 820px) {
  .nav__button {
    display: flex;
    justify-content: flex-start;
    padding: $m-size;
  }
  .nav__list {
    font-size: 2rem;
  }
  .nav__bars {
    color: $almost-black;
    background: transparent;
    position: absolute;
    right: auto;
    left: 0;
  }
}
