.quote {
  background-color: $yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $m-size;
}

.quote__cta {
  color: $almost-black;
  font-size: $m-size;
  font-weight: 320;
  margin: $s-size 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $desktop-breakpoint) {
  .quote__cta {
    font-size: $l-size;
  }
}
