.services {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: $l-size;
}

.services__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 21rem;
}

.services__icon {
  align-items: center;
  background-color: $yellow;
  border-radius: 100%;
  color: $less-black;
  display: flex;
  font-size: $xl-size;
  height: 50px;
  justify-content: center;
  padding: $s-size;
  width: 50px;
}

.services__title {
  color: $font-color;
  font-weight: 350;
  margin: $m-size 0 0 0;
  text-transform: uppercase;
}

.services__blurb {
  margin-top: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
