$primary-color: #444444;
$secondary-color: #f3bd37;
$font-color: #eeeeee;

.title {
  text-align: center;
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 20px;
  color: $font-color;
}

.yellow-bg {
  background-color: $secondary-color;
}

.insta-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // width: 100vw;
  // max-width: 900px;
}
.insta-post {
  // width: 25%;
  // height: 25%;
  margin: 10px;
}

.info-container {
  color: $font-color;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

.phone {
  color: $secondary-color;
}
