.modal {
  position: absolute;
  overflow-y: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  overflow: scroll;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button {
  color: #eeeeee;
  background-color: #444444;
  border: none;
  margin: 5px;
}
.modal-main {
  position: fixed;
  background: white;
  width: 60%;
  min-height: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.do-display {
  display: block;
}

.dont-display {
  display: none;
}

@media only screen and (max-width: 600px) {
  .modal-main {
    max-height: 50%;
    height: auto;
    padding: 15px;
    width: 80vw;
  }
}

@media only screen and (max-width: 350px) {
  .modal-main {
    max-height: 50%;
    width: 80vw;
    height: auto;
    padding: 15px;
  }
}
