$primary-color: #444444;
$secondary-color: #f3bd37;
$font-color: #eeeeee;

.title {
  color: $font-color;
}

.subtitle {
  color: $secondary-color;
}

.infoContainer {
  color: $font-color;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

.dynamic {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  height: auto;
  overflow: scroll;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  width: 20vw;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
}
.exit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 15px;
}

.textbox {
  min-width: 24vw;
  max-width: 24vw;
  min-height: 20vh;
  font-size: 15px;
  line-height: normal;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid $primary-color;
}
.input {
  max-width: 20vw;
  min-width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 120%;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid $primary-color;
  font-size: 15px;
  margin: 0;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 320px) {
  .form {
    width: 100%;
    overflow: scroll;
  }
  .textbox {
    min-width: 0;
    max-width: 0;
  }
}
