$primary-color: #444444;
$secondary-color: #f3bd37;
$font-color: #eeeeee;

.title {
  color: $primary-color;
  font-weight: 400;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.promosBar {
  color: $font-color;
  font-weight: 500;
  background-color: $primary-color;
  padding-left: 0.5rem;
  padding-top: 4px;
}

.duradekLogo {
  min-width: 90px;
  max-width: 5%;
  margin: 2px 2px 0 2px;
}

.navBar {
  background-color: $secondary-color;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // flex-direction: row;
  // justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;

  a {
    text-decoration: none;
    color: #646464;
  }

  a:hover {
    color: $primary-color;
  }

  a:active {
    color: $primary-color;
  }
}

.menuItem {
  padding-right: 1rem;
}

.button {
  background-color: $secondary-color;
  color: #646464;
  text-transform: uppercase;
  outline: none;
  border: 0.5px solid #646464;
  cursor: pointer;
  letter-spacing: 1px;
}

.button:hover {
  color: #444444;
  border: 1px solid #646464;
}

@media only screen and (max-width: 900px) {
  .menu {
    letter-spacing: normal;
    font-size: 0.7rem;
  }
  .button {
    letter-spacing: normal;
  }
}
