html {
  font-size: 62.5%;
}

a {
  color: $less-black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $almost-black;
  cursor: pointer;
}

a:active {
  color: $almost-black;
}
body {
  background-color: $almost-black;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

h1 {
  color: $font-color;
  font-size: $xl-size;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: $almost-black;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  color: darken($font-color, 5);
  font-weight: 200;
  margin-bottom: $l-size;
}

textarea {
  min-height: 15rem;
}

ul {
  margin: 0;
  padding: 0;
}
