//COLOURS
$almost-black: #444444;
$yellow: #f3bd37;
$less-black: #646464;
$font-color: #e9e1e1;

//SPACING
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 3.6rem;
$desktop-breakpoint: 45rem;
